.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
  gap: 28px;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.section-container {
  width: 50%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
}

.section-container .grid-item {
  height: 250px;
  border: 1px solid #3f3749;
  background-color: #4b4257;
  min-width: 250px;
}

.section-container .grid-item.Light {
  background: rgb(230, 230, 230);
  background: -moz-linear-gradient(90deg,
      rgba(230, 230, 230, 1) 0%,
      rgba(242, 242, 242, 1) 46%,
      rgba(230, 230, 230, 1) 100%);
  background: -webkit-linear-gradient(90deg,
      rgba(230, 230, 230, 1) 0%,
      rgba(242, 242, 242, 1) 46%,
      rgba(230, 230, 230, 1) 100%);
  background: linear-gradient(90deg,
      rgba(230, 230, 230, 1) 0%,
      rgba(242, 242, 242, 1) 46%,
      rgba(230, 230, 230, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6e6e6", endColorstr="#e6e6e6", GradientType=1);
}

.section-container .grid-item.Light img {
  background: #beb6c8;
}

.section-container .grid-item .grid-item-header {
  border-bottom: 1px solid #beb6c8;
  align-self: flex-start;
  height: 30px;
  line-height: 30px;
  color: #beb6c8;
}

.section-container .grid-item .grid-item-container {
  width: 100%;
  height: 190px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-container .grid-item .grid-item-footer {
  border-top: 1px solid #3f3749;
  align-self: flex-end;
  height: 30px;
  background-color: #beb6c8;
  color: #716383;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.grid-item-container span {
  color: #fefefe;
  text-transform: capitalize;
}
.geo-error {
  padding: 4px;
  border: 1px solid red;
  border-radius: 4px;
}
.city-details {
  border: 1px solid #3f3749;
  background-color: #4b4257;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.day-date {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  width: 100%;
}
.day-weather div {
  color: orange;
  
}
.field-item {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  width: 100%;
}
.field-item span i {
  margin-left: 12px;
}
.weather-values {
  width: 100%;
}